setuptools
future
numpy
protobuf
enum34
lmdb
cloudpickle
Cython
pyyaml
typing
pillow
matplotlib
scikit-learn
scikit-image
tqdm
scipy
pandas
seaborn
imageio
timm
h5py
umap-learn
advertorch
git+https://github.com/fra31/auto-attack
Keras
tensorflow==2.10.0
tensorflow-gpu==2.10.0
tensorboard
jupyter
jupyterlab
jupyterlab-git
jupyterlab-drawio
jupyter_contrib_nbextensions
jupyterlab_code_formatter
jupyterlab-vimrc
git+https://github.com/chaoleili/jupyterlab_tensorboard.git
lckr-jupyterlab-variableinspector
jupyterlab-lsp
jupyterlab_tabnine
ipywidgets
yapf
black
isort
tabulate
plotly
pyspark
jedi==0.17.2
decord
transformers
iopath
axial-positional-embedding
